.btn {
  display: flex;
  align-items: center;
  gap: 20px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #B25A59;
  border-radius: 80px;
  border: none;
  padding: 24px 40px;
  max-height: 80px;
  cursor: pointer;
  transition: 0.6s;
}

.btn:hover {
  background: #7F2736;
  outline: 3px solid #2C2D32;
}

.btn:active {
  color: #F0C53E;
}

.btn__logo {
  display: inline-block;
  vertical-align: middle;
}

.btn--light {
  letter-spacing: normal;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  padding: 24px 60px;
}

.btn--light:hover {
  background: #B25A59;
  outline: none;
}

.btn--light:active {
  border-color: #F0C53E;
}

.btn--small {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 12px 40px;
}

.btn--sub {
  letter-spacing: normal;
  background: linear-gradient(105.5deg, #EE5060 19.57%, #B25A59 78.85%);
  border-radius: 60px;
  padding: 14px 34px;
}

.btn--sub:hover {
  background: linear-gradient(105.5deg, #B25A59 19.57%, #EE5060 78.85%);
  outline-color: #F0C53E;
}

.btn--transparent {
  background: transparent;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #252641;
  padding: 0;
}

.btn--transparent:hover {
  background: transparent;
  outline: none;
  color: #FFFFFF;
}

.btn--transparent:active {
  text-decoration: #FFFFFF underline;
}

.btn--yellow {
  background: #F0C53E;
  font-size: 20px;
  line-height: 36px;
  color: #2C2D32;
  padding: 2px 35px;
}

.btn--yellow:hover {
  color: #FFFFFF;
}

.btn--image {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  padding: 4px 12px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.btn--input {
  padding: 38px 28px;
  background: transparent;
  border: 1px solid #EE5060;
  position: absolute;
  right: 0;
}

.btn--input:hover {
  background: #F0C53E;
  outline: none;
}
