.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container--navbar {
  padding-top: 1%;
  margin-bottom: 5%;
}

.container--header {
  background: #F0C53E;
  padding: 1% 5%;
  position: relative;
}

.container--round-bottom {
  padding-top: 5%;
  padding-bottom: 2%;
  border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
}

.container--center {
  margin-top: 180px;
  padding: 0 10%;
}

.container--footer {
  background: #7F2736;
  padding: 54px 5% 40px;
}

.container--slim {
  padding: 0 15%;
}

.container--yellow {
  background: #F0C53E;
  border-radius: 20px;
  padding: 40px;
}

.container--small-card {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: inline-flex;
  gap: 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
  text-decoration: none;
}

.box {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.box--slideshow {
  align-items: stretch;
}

.box--rectangle {
  z-index: 0;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 400px;
  margin: 20px;
}

.box--image {
  position: relative;
  align-items: flex-end;
  min-width: 310px;
  min-height: 220px;
}

.box--small-card {
  min-width: 185px;
}

.box--card {
  background: #FFFFFF;
  box-shadow: 0 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  padding: 120px 54px 50px;
  gap: 70px;
  position: relative;
  z-index: 0;
  margin-top: 40px;
}

.box--card__logo {
  position: absolute;
  top: -80px;
  z-index: 1;
}

.box--line {
  flex-flow: row;
  justify-content: flex-start;
  gap: 30px;
}

.box--line__line {
  width: 90px;
  border-bottom: 1px solid #2C2D32;
}

.img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 20px;
}

.img--bg {
  position: absolute;
  z-index: 1;
  width: 315px;
}

.red-rectangle {
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #7F2736;
  opacity: 0.8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.toast {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: #7F2736;
  max-width: 600px;
  padding: 20px;
  border-bottom-left-radius: 10% 20%;
}

.row-flex {
  flex-flow: row wrap;
}

.align-start {
  align-items: flex-start;
}

.align-centered {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.margin-bottom--small {
  margin-bottom: 40px;
}

.margin-bottom--normal {
  margin-bottom: 80px;
}

.margin-bottom--medium {
  margin-bottom: 120px;
}

.margin-bottom--large {
  margin-bottom: 170px;
}

.gap--small {
  gap: 20px;
}

.gap-average {
  gap: 30px;
}

.gap-medium {
  gap: 40px;
}

.gap-large {
  gap: 50px;
}

.right-padding-tiny {
  padding-right: 30px;
}

.right-padding-small {
  padding-right: 60px;
}

.right-padding-large {
  padding-right: 120px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.form--red {
  position: relative;
}

.label {
  display: flex;
  flex-flow: row nowrap;
}

.input {
  box-sizing: border-box;
  background: none;
  border: 1px solid #F0C53E;
  border-radius: 80px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.input:focus {
  outline: 1px solid #F0C53E;
}

.input--red {
  max-width: 450px;
  max-height: 80px;
  background-color: transparent;
  border: 1px solid #EE5060;
  padding: 22px 60px;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #EE5060;
}

.input:focus {
  outline: 1px solid #EE5060;
}

.input--red::placeholder {
  opacity: 1;
}

.input-list {
  list-style-type: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 25px 0 0 10px;
  margin: 0;
  min-height: 150px;
}
