.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container--navbar {
  padding-top: 30px;
}

.container--header {
  background: #F0C53E;
  padding: 1% 5%;
}

.container--center {
  margin-top: 180px;
  padding: 0 10%;
}

.container--slim {
  padding: 0 15%;
}

.container--yellow {
  background: #F0C53E;
  border-radius: 20px;
  padding: 40px;
}

.nav {
  display: inline-flex;
  gap: 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
  text-decoration: none;
}

.box {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.box--rectangle {
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 400px;
}

.box--card {
  background: #FFFFFF;
  box-shadow: 0 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  padding: 120px 54px 50px;
  gap: 70px;
  position: relative;
  z-index: 0;
}

.box--card__logo {
  position: absolute;
  top: -80px;
  z-index: 1;
}

.box--line {
  flex-flow: row;
  justify-content: flex-start;
  gap: 30px;
}

.box--line__line {
  width: 90px;
  border-bottom: 1px solid #2C2D32;
}

.img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.img--slide {
  max-width: 450px;
}


.img--bg {
  position: absolute;
  z-index: 1;
  width: 315px;
}

.red-rectangle {
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #7F2736;
  opacity: 0.8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.align-start {
  align-items: flex-start;
}

.align-centered {
  align-items: center;
}

.margin-bottom--small {
  margin-bottom: 40px;
}

.margin-bottom--normal {
  margin-bottom: 80px;
}

.margin-bottom--medium {
  margin-bottom: 120px;
}

.margin-bottom--large {
  margin-bottom: 170px;
}

.gap-average {
  gap: 30px;
}

.gap-medium {
  gap: 40px;
}

.gap-large {
  gap: 50px;
}
