// extra-small screens
@media only screen and (max-width: 778px) {
  .nav--header {
   flex-direction: column;
   gap: 10px;
  }

}

// small screens
@media only screen and (max-width: 1030px) {
  .slide-button {
    transform: rotate(0.25turn);
    margin: 10px;
  }
  .box {
    padding-top: 40px;
  }
  .gap-responsive {
    gap: 70px;
  }
}

// medium screens
@media only screen and (max-width: 1190px) {

}
