@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

@import "cssReset.scss", "flexboxgrid.scss", "layout.scss", "text-styles.scss", "media-queries.scss";

body {
  max-width: 1930px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #B25A59;
  border-radius: 80px;
  border: none;
  padding: 24px 40px;
  max-height: 80px;
}

.btn--light {
  letter-spacing: normal;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 24px 60px;
}

.btn--small {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 12px 40px;
}

.btn--yellow {
  background: #F0C53E;
  font-size: 20px;
  line-height: 36px;
  color: #2C2D32;
  padding: 2px 35px;
}

.btn--sub {
  letter-spacing: normal;
  background: linear-gradient(105.5deg, #EE5060 19.57%, #B25A59 78.85%);
  border-radius: 60px;
  padding: 14px 34px;
}

.btn--image {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  padding: 4px 12px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.btn__logo {
  display: inline-block;
  vertical-align: middle;
}
