@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

@import "cssReset.scss", "flexboxgrid.scss", "layout.scss", "text-styles.scss", "media-queries.scss";

body {
  max-width: 1930px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #B25A59;
  border-radius: 80px;
  border: none;
  padding: 24px 40px;
}
