.nav__link {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #252641;
  text-decoration: none;
}

.link {
  font-size: 22px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #EE5060;
}

.link--small {
  font-size: 20px;
  line-height: 36px;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #2C2D32;
}

.title--extra-small {
  font-size: 24px;
  line-height: 43px;
  color: #595959;
}

.title--small {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.title--medium {
  font-size: 36px;
  line-height: 65px;
}

.title--large {
  font-size: 60px;
  line-height: 82px;
}

.title--main {
  font-weight: 800;
  font-size: 54px;
  line-height: 74px;
}

.title--text {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #464646;
}

.title--bold-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #545567;
}

.header {
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  color: #2C2D32;
  text-align: center;
  margin-bottom: 20px;
}

.header--tiny {
  font-size: 22px;
  line-height: 40px;
}

.header--extra-small {
  font-size: 26px;
  line-height: 47px;
}

.header--small {
  font-size: 30px;
  line-height: 45px;
}

.header--medium {
  font-weight: 700;
  line-height: 65px;
}

.header--large{
  font-weight: 600;
  font-size: 44px;
  line-height: 79px;
}

.header--white {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.text {
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  color: #2C2D32;
}

.text--small {
  font-size: 20px;
  line-height: 36px;
}

.text--subtle {
  font-size: 22px;
  line-height: 40px;
  color: #696984;
}

.text--large {
  font-size: 26px;
  line-height: 42px;
}

.letter-spacing--small {
  letter-spacing: 0.02em;
}

.letter-spacing--large {
  letter-spacing: 0.2em;
}

.align-text--left {
  text-align: left;
}

.red-lettering {
  color: #7F2736;
}

.dark-lettering {
  color: #2C2D32;
}

